Python/ImageClassification/cv-result/
Python/ImageClassification/images/
Python/ImageClassification/model.h5
Python/ImageClassification/PDFs/
Python/ImageClassification/sk-result/
Python/ImageClassification/train/
Python/ImageClassification/verify/
Python/StructuedDataAnalysis/train_housing.csv
